@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Terminus';
  src: url('/fonts/TerminusTTF-4.49.3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
    --color-anomaly-blue: #3381ff;
    --color-reality-yellow: #fcad30;
    --color-agency-red: #dd2a25;
    --color-pentachoron: #1ee8e8;
}

@layer utilities {
  .font-urw {
    font-family: 'URW Gothic L';
  }
  .font-terminal {
    font-family: 'Terminus', monospace;
  }
  .text-vertical {
    writing-mode: vertical-lr;
  }
  .text-horizontal {
    writing-mode: horizontal-tb;
  }
}

h1, h2, h3 {
  @apply
  font-bold
  leading-none
}

h1 {
  @apply
  text-[3rem]
}

h2 {
  @apply
  w-full
  border-b
  pb-1
  mb-1
  text-[2rem]
}

h3 {
  @apply
  text-[1.25rem]
}

p, div {
  @apply
  leading-[1.25rem]
}

li {
  @apply
  pl-2
  marker:content-["›"]
  leading-none
;}

blue {
    @apply
    font-bold
    text-anomaly-blue
  }
  
  red {
    @apply
    font-bold
    text-agency-red
  }
  
  yellow {
    @apply
    font-bold
    text-reality-yellow
  }

  penta {
    @apply
    font-bold
    text-pentachoron
  }