@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'URW Gothic L';
    src: url('./assets/fonts/URW_Gothic_L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Terminus';
  src: url('./assets/fonts/TerminusTTF-4.49.3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-roboto {
      font-family: 'Roboto';
  }
  .font-poppins {
    font-family: 'Poppins';
  }
  .font-urw {
    font-family: 'URW Gothic L';
  }
  .font-terminal {
    font-family: 'Terminus', monospace;
  }
  .text-vertical {
    writing-mode: vertical-lr;
  }
  .text-horizontal {
    writing-mode: horizontal-tb;
  }
}




/* h1 {
  @apply
    font-urw
    font-extrabold
    text-[8rem]
    leading-none
    tracking-[-0.3rem]
}

h2 {
  @apply
    font-urw
    font-bold
    text-[1.8rem]
    leading-none
    tracking-[-0.05rem]
}

h3, h4 {
  @apply
    font-urw
    font-bold
    text-deep-purple 
    leading-none
}

h3 {
  @apply
    text-[1.25rem]
}

h4 {
  @apply
    text-[1.1rem]
}

p, ul {
  @apply
    text-[.8rem]
    leading-[1rem]
    text-deep-purple
}*/

blue {
  @apply
    text-anomaly-blue
}

red {
  @apply
    text-agency-red
}

three {
  @apply
    font-bold
    text-agency-red
}